
<body>
    <main>
        <!-- Contenido principal de la página -->
    </main>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <footer>
        
        <div class="footer-content">
          
            <div>
                <h3>Contacto: </h3>
                <p>Teléfono: 123-456-789</p>
                <p>Email: Librospiola.com</p>
            </div>
        </div>
        <hr>
        <p>&copy; 2024 Tu Empresa | Todos los derechos reservados</p>
    </footer>
</body>


