
.h1{
    margin-left: 540px;
}
.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.boton{
    width: 120px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 10px;
}